@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Caslon";
  src: url("../assets/fonts/CaslonGraphique-Opti.otf");
  letter-spacing: 0.2px;
}

@font-face {
  font-family: "Futura";
  src: url("../assets/fonts/futur.ttf");
}

@font-face {
  font-family: "Urw";
  src: url("../assets/fonts/urw-din-regular.ttf");
}

body {
  background-color: #E9F1F7;
  color: #131B23;
  margin: 0;
}

h1 {
  font-family: "Caslon", sans-serif;
  font-size: 56px;
  font-weight: 600;
}

h2 {
  font-family: "Caslon", sans-serif;
  font-size: 44px;
  font-weight: 600;
}

h3 {
  font-family: "Caslon", sans-serif;
  font-size: 32px;
  font-weight: 400;
}

p {
  font-family: "Futura", sans-serif;
  font-size: 18px;
}

/* Better default text rendering */
html {
  scroll-behavior: smooth;
}

::selection {
  background: rgba(34, 116, 165, 0.25);
}
